@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oleo+Script+Swash+Caps&family=Roboto:wght@300&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
*{
    margin: 0;
    padding: 0;
}
/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2{
    font-family: 'Merriweather', serif;
}

h1{
    width: 30ch;
}

h2{
    color: #5722CD;
}
/* ------------------------------- 3. Layout --------------------------------------- */
header{
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(72,69,228,1) 51%, rgba(87,34,205,1) 100%);
    color: white;
    position: relative;
}

.header-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.header-title-1{
    padding: 20px;
}

.header-title-2{
    padding: 22px;
    border-radius: 30px;
    border: 2px;
    background-color: #ED4385;
    color: white;
    text-transform: uppercase;
}

.header-title-2:hover{
    background-color:limegreen;
    transition: 1.0s;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    padding-top:10px ;
    margin-right: 16px ;
    list-style: none;
    color: white;
}

.link-to-form{
    text-decoration: none;
    color: white;
}

.link-to-service{
    text-decoration: none;
    color: white;
}

.link-to-case-studies{
    text-decoration: none;
    color: white;
}

.image-1{
    width: 120px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.introduction-div{
    padding-top: 40px;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 40px;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 80px;
}

.click-here-link{
    text-decoration: none;
    color: #5722CD;
}

.squiggle-line-2{
    width: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.background-color-projects{
    background-color: #F3F6F9;
}

.rolling-stones-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rolling-stone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-top: 100px;
    padding-left: 50px;
    margin-right: 400px;
}

.work-photo-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 550px;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px #ccc;
}

.image-wrapper{
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.variety {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-right: 150px;
    padding-right: 20px;
    margin-top: 130px;
    margin-left: 400px;

}

.work-phote-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 550px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 75px;
    box-shadow: 10px 10px 5px #ccc;
}

.work-photo-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 550px;
    margin-right: 50px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 5px #ccc;

}

.worth{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 75px;
    padding-right: 200px;
    margin: 50px;
}

.view-project{
    padding-top: 50px;
    color: #4845E4;
    text-transform: uppercase;
    font-size: small;
}

.service-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

.service-container-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.web-design{
    border: solid #4845E4;
    flex-basis: 300px;
    aspect-ratio: 1;
    padding: 20px;
}

.web-development{
    border: solid #4845E4;
    flex-basis: 300px;
    aspect-ratio: 1;
    padding: 20px;
}

.user-experience{
    border: solid #4845E4;
    flex-basis: 300px;
    aspect-ratio: 1;
    padding: 20px;
}

.logo-design{
    border: solid #4845E4;
    flex-basis: 300px;
    aspect-ratio: 1;
    padding: 20px;
}

.seo{
    border: solid #4845E4;
    flex-basis: 300px;
    aspect-ratio: 1;
    padding: 20px;
}

.copy-writing{
    border: solid #4845E4;
    flex-basis: 300px;
    aspect-ratio: 1;
    padding: 20px;
}

.service-picture-1{
    width: 70px;
}

.service-picture-2{
    width: 70px;
}

.service-picture-3{
    width: 70px;
}

.service-picture-4{
    width: 70px;
}

.service-picture-5{
    width: 70px;
}

.service-picture-6{
    width: 70px;
}

.form-section{
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(72,69,228,1) 51%, rgba(87,34,205,1) 100%);
    padding-top: 90px;
    padding-bottom: 50px;
}

.form-title{
    color: white;
}

.form-text{
    color: white;
    padding: 20px;

}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
    width: 100%;
}

label{
    color: white;
    width: 50%;
    font-weight: bold;
}

.name{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
}

.mail{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
}

.message{
    width: 50%;
    height: 150px;
    margin-bottom: 20px;


}

.form-button{
    border-radius: 35px;
    width: 150px;
    height: 50px;
    background-color: #ED4385;
    color: white;
    border-style: none;
    text-transform: uppercase;
    font-width: bold;
}
.form-button:hover{
    background-color:limegreen;
    transition: 1.0s;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 10px;
    color: white;
}

.service-text-color{
    color: #7A7A7A;
}







/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */